.revise-area{
	margin-left:130px
}

.delete-area{
	margin-left:130px
}

.input-text{
	display:inline-block;
	*display:inline;
	margin-bottom:0;
	*zoom:1
}

.form-left{
	margin-left:350px;
	font-size:24px
}

.top-input{
	margin-top:10px
}

.input-divider{
	margin-top:5px	
}

.put-on-right{
	margin-top:40px;
	margin-left:140px
}

.num-box{
	width:25px;
	text-align:center
}