a:hover {
	text-decoration: none
}
.left{
	width: 120px;
	float:left;
	margin-left:-22px;
}
.right{
   float:right;
   width:91%;
   margin:10px auto;
}
#campusDropdown{
	visibility:hidden
}

.home-area{
	margin-left:100px;
	margin-top:50px
}

.iframe-area{
	margin-left:40px;
	margin-top:70px;
}